{% load static %}
<div class="relative w-80 h-80 mx-auto character-{{ character }}">
  <!-- 기본 캐릭터 -->
  {% if character == 'geulssung' %}
    <img src="{% static 'images/character/geulssung/geulssung_default.png' %}" class="absolute top-0 left-0 z-10 w-full">
  {% else %}
    <img src="{% static 'images/character/geulssung/geulssung_default.png' %}" class="absolute top-0 left-0 z-10 w-full">
  {% endif %}

  <!-- 착용된 아이템 이미지 -->
  {% for ui in equipped_items %}
    {% if character in ui.item.image_path and ui.equipped %}
      {% with ui.item.image_path as path %}
        {% if 'body' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:11">
        {% elif 'clothes' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:12">
        {% elif 'bag' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:13">
        {% elif 'glass' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:14">
        {% elif 'acc' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:15">
        {% elif 'head' in path %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:16">
        {% else %}
          <img src="{% static path %}" class="absolute top-0 left-0 w-full" style="z-index:20">
        {% endif %}
      {% endwith %}
    {% endif %}
  {% endfor %}
</div>
