{# 최신글 리스트 UI 템플릿 #}
<div class="space-y-4 h-full">
  <div class="flex items-center justify-between mb-16">
    <div class="w-fit bg-white px-4 py-2 rounded-full shadow font-semibold text-lg">
      최신글
    </div>
    <span class="text-xs text-gray-400 ml-4">기준: {% now "Y-m-d H:i" %}</span>
  </div>
  <div class="mb-4"></div>
  {% if latest_posts %}
    <ul class="bg-white rounded-lg shadow p-6 flex flex-col h-96 overflow-y-auto">
      {% for post in latest_posts|slice:":5" %}
        <li class="flex-1 flex justify-between items-center border-b last:border-b-0 text-lg">
          <div class="w-2/5 flex flex-col justify-center">
            <a href="{% url 'post_detail' post.id %}" class="text-[#493E3E] font-semibold hover:underline truncate text-xl">
              {{ post.title }}
            </a>
          </div>
          <div class="w-1/3 flex justify-end items-center gap-x-1">
            <span class="text-xs font-bold text-sky-400 whitespace-nowrap">작성자:{{ post.author.nickname }}</span>
            <span class="text-xs font-bold text-sky-400 whitespace-nowrap">작성일:{{ post.created_at|date:'m/d H:i' }}</span>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="text-center text-gray-500">아직 최신글이 없습니다.</p>
  {% endif %}
</div> 