{% if posts %}
<ul class="bg-white rounded-lg shadow p-6 flex flex-col h-96 overflow-y-auto">
  {% for post in posts %}
    <li class="flex-1 flex justify-between items-center border-b last:border-b-0 text-base py-2">
      <div class="w-2/5 flex flex-col justify-center">
        <a href="{% url 'post_detail' post.id %}" class="text-[#493E3E] font-semibold hover:underline truncate text-xl">
          {{ post.title }}
        </a>
      </div>
      <div class="w-1/3 flex justify-end items-center gap-x-1">
        <span class="text-xs font-bold text-sky-400 whitespace-nowrap">by{{ post.author.nickname }}</span>
      </div>
      <span class="w-10 text-lg font-bold text-right text-pink-600">❤️ {{ post.like_count }}</span>
    </li>
  {% endfor %}
  {% for _ in ''|center:top_liked_posts_empty_count %}
    <li class="flex-1 flex justify-between items-center border-b last:border-b-0 text-base py-2 opacity-0 select-none pointer-events-none">
      <div class="w-2/5 flex flex-col justify-center">
        <span>-</span>
      </div>
      <div class="w-1/3 flex justify-end items-center gap-x-1">
        <span>-</span>
        <span>-</span>
      </div>
      <span class="w-10 text-lg font-bold text-right">-</span>
    </li>
  {% endfor %}
</ul>
{% else %}
<ul class="bg-white rounded-lg shadow p-6 flex flex-col h-96 overflow-y-auto">
  {% for _ in ''|center:5 %}
    <li class="flex-1 flex justify-between items-center border-b last:border-b-0 text-base py-2 opacity-0 select-none pointer-events-none">
      <div class="w-2/5 flex flex-col justify-center">
        <span>-</span>
      </div>
      <div class="w-1/3 flex justify-end items-center gap-x-1">
        <span>-</span>
        <span>-</span>
      </div>
      <span class="w-10 text-lg font-bold text-right">-</span>
    </li>
  {% endfor %}
</ul>
{% endif %} 