
[Unit]
Description=uWSGI Service
After=syslog.target

[Service]
User=ubuntu
ExecStart=/home/ubuntu/geulssung/geulssung/venv/bin/uwsgi -i /home/ubuntu/geulssung/geulssung/.config/uwsgi/geulssung.ini


Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target